flask
flask-sqlalchemy
sqlalchemy
psycopg2-binary
flask-migrate
flask-script
openpyxl
playwright
werkzeug
flask-mail
translate
gunicorn
python-dotenv
xlsxwriter
flask-login
babel
flask-babel
flask-jwt-extended
email-validator
