flask
flask-sqlalchemy
sqlalchemy
psycopg2-binary
flask-migrate
flask-script
openpyxl
playwright
werkzeug
Flask-Mail
deep-translator
gunicorn
python-dotenv
XlsxWriter
flask-login
Babel
Flask-Babel
flask-jwt-extended
email-validator